body {
    background-image: url("img/facts.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial;
}

#content {
    margin-left: 135px;
    font-size: 2vw; 
    font-size: 2vh;
    margin-top: 40px;

}

a {
    text-decoration: none;
}
