body {
    background-image: url("img/information.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial;
}

#content {
    margin-left: 120px;
    font-size: 2vw; 
    font-size: 2vh;
    margin-top: 60px;

}

a {
    text-decoration: none;
}

.responsive {
    width: 35%;
    height: auto;
    margin-left: 260px;
}
